<%- include("template/cabecera", {tituloWeb: 'Página de Inicio Cliente'})  %> 

<div>
   
  </div>
    <div class="container">
        <h1 class="text-center" style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">Inventario Bodega</h1>
        <hr>
        <a class="btn btn-primary" href="/inventario/agregarMaterial" ROLE="button">
            Ingresar nuevo Material
        </a>
<button type="button" onClick="refreshPage()">Actualizar</button>

<script>
function refreshPage(){
    window.location.reload();
} 
</script>
    </div>

    
    <div class="container">
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Buscar Producto.." title="Type in a name">
        <div class="container-fluid">
        <table class="table" style="background-color: white !important; border-radius: 8px; width: 50%; " id="myTable">

            <tr class="header">
          
                <th scope="col" >MATERIAL</th>
                <th scope="col" >CANTIDAD</th>
                <th scope="col" >PRECIO</th>
                <th scope="col" >FECHA</th>
                <th scope="col pro" >EDICION</th>
                
            </th>
    
                <div>
                    <% if (arrayClientes.length>0) { %>
                        <% arrayClientes.forEach( inventario => { %>
                     
                            <tr >
                                <td><%= inventario.nombreMaterial %></td>

                                <% var i =  inventario.Cantidad   %>
                              
                                <td><%= inventario.Cantidad %></td>
                                  
                             
                              <td><%= inventario.Precio %></td>
                                <td><%= inventario.Fecha %></td>
                 
                                <th>
                                    <a class="btn btn-primary btn-sm" href="inventario/verMaterial/<%= inventario.id %>" rol="button" ">
                                        Modificar Material
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="javascript:eliminar('<%= inventario.id %>');" rol="button">
                                        Eliminar Material
                                    </a>
                                    
                                </th>
                            </tr>
                        <% }) %>
                        
                    <% } %>
                </div>

  

        </table>
    </div>
    </div>
    <script>
        function Sumar(params) {
            let boton = document.getElementById("boton")
            boton.addEventListener("click", function (params) {
              let cantidad =  " <%= Cantidad %> " 
              console.log(cantidad)
            })

        }
       
    </script>



    <script>
        async function eliminar(paramID) {

            try {
                
                const data = await fetch(`/inventario/${paramID}`, {
                    method: 'delete'
                });

                window.location.href = '/inventario';

            } catch (error) {
                console.log(error);
            }

        }
    </script>
       <script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
                </script>
                <style>
  @media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px)
        {

 tr {
                    /* Behave  like a "row" */
                    border: none;
                    border-bottom: 1px solid #eee;
                    position: relative;
                    padding-left: 50% !important; /* Added important here */
                    width: 50%;
                }


}
                </style>
              <style>   
            td {
                width: 10% !important;
            }
            .logoright {
  text-align: right !important;
  top: 40px;
}
            </style>

            <style>
                @media screen and (min-device-width: 200px) and (max-device-width: 568px) { 
   .table {
    font-size: 7px;
   }

   .btn-sm {
    font-size: 7px;
   }
}
            </style>
       
<%- include("template/footer") %>


