<%- include("template/cabecera", {tituloWeb: 'Página de Inicio Cliente'})  %> 

    <div class="container">
        <h1 >Inventario Bodega</h1>
        <hr>
        <a class="btn btn-primary" href="/inventario/agregarMaterial" ROLE="button">
            Ingresar nueva Material
        </a>
    </div>
    <br>
    
    <div class="container">
        <h2>Inventario</h2>
        <input type="text" id="myInput" onkeyup="myFunction()" placeholder="buscar producto.." title="Type in a name">
        <table class="table" style="background-color: white !important; border-radius: 5px;" id="myTable">

            <tr class="header">
          
                <th scope="col" >MATERIAL</th>
                <th scope="col" >CANTIDAD</th>
                <th scope="col" >PRECIO</th>
                <th scope="col" >FECHA</th>
                <th scope="col" >SECCION DE EDICION</th>
                
            </th>
    
                <div>
                    <% if (arrayClientes.length>0) { %>
                        <% arrayClientes.forEach( inventario => { %>
                            <br>
                            <tr>
                                <td><%= inventario.nombreMaterial %></td>

                               

                                <td><%= inventario.Cantidad %></td>
                                
                                <td><%= inventario.Precio %></td>
                                <td><%= inventario.Fecha %></td>
                 
                                <th>
                                    <a class="btn btn-primary btn-sm" href="inventario/verMaterial/<%= inventario.id %>" rol="button">
                                        Modificar Material
                                    </a>
                                    <a class="btn btn-danger btn-sm" href="javascript:eliminar('<%= inventario.id %>');" rol="button">
                                        Eliminar Material
                                    </a>
                                </th>
                            </tr>
                        <% }) %>
                    <% } %>
                </div>

  

        </table>

    </div>

    <script>
        async function eliminar(paramID) {

            try {
                
                const data = await fetch(`/inventario/${paramID}`, {
                    method: 'delete'
                });

                window.location.href = '/inventario';

            } catch (error) {
                console.log(error);
            }

        }
    </script>
       <script>
        function myFunction() {
          var input, filter, table, tr, td, i, txtValue;
          input = document.getElementById("myInput");
          filter = input.value.toUpperCase();
          table = document.getElementById("myTable");
          tr = table.getElementsByTagName("tr");
          for (i = 0; i < tr.length; i++) {
            td = tr[i].getElementsByTagName("td")[0];
            if (td) {
              txtValue = td.textContent || td.innerText;
              if (txtValue.toUpperCase().indexOf(filter) > -1) {
                tr[i].style.display = "";
              } else {
                tr[i].style.display = "none";
              }
            }       
          }
        }
                </script>
                
                  
          
        <style>
            th, td {
          padding: 15px;
        }
        </style>
<%- include("template/footer") %>


